.media {
    margin-bottom: 20px;
}

.media-left {
    max-width: 500px;
}
        
.media-object {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.media-body {
    text-align: left;
    width: 400 px;
}